body {
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  font-family: "Nunito", sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
  /* background-color: #F5F5F5; */
}

/* Shadow */
.shadow-white {
  box-shadow: 1px 0.5px 10px #f5f5f5;
}
.shadow-cognac {
  box-shadow: 1px 0.5px 10px #9A463D;
}

/* Text Color */
.text-black {
  color: black;
}


/* Width */
.w-full {
  width: 100%;
}
.w-90 {
  width: 90%;
}
.w-80 {
  width: 80%;
}
.w-70 {
  width: 70%;
}
.w-60 {
  width: 60%;
}
.w-50 {
  width: 50%;
}
.w-40 {
  width: 40%;
}
.w-30 {
  width: 30%;
}
.w-25 {
  width: 25%;
}
.w-22 {
  width: 22%;
}
.w-20 {
  width: 20%;
}

/* Height */
.h-full {
  height: 100%;
}
.h-90 {
  height: 90%;
}
.h-80 {
  height: 80%;
}
.h-70 {
  height: 70%;
}
.h-60 {
  height: 60%;
}
.h-50 {
  height: 50%;
}
.h-40 {
  height: 40%;
}
.h-30 {
  height: 30%;
}

/* Background */
.bg-cover {
  background-size: cover;
}
.bg-center {
  background-position: 50%;
}
.bg-blend-multiply {
  background-blend-mode: multiply;
}

/* Font Weight */
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}
.fw-1000 {
  font-weight: 1000;
}

/* Text Position */
.text-middle {
  text-align: center;
}
.text-start {
  text-align: start;
}
.text-end {
  text-align: end;
}

/* Text Size */
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-1xl {
  font-size: 1.25rem;
  line-height: 2rem;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.text-5xl {
  font-size: 3rem;
  line-height: 1;
}
.text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}


/* Hover */
.hover\:darkbrown:hover {
  --tw-bg-opacity: 1;
  color: #2b2118;
  border-color: white;
  background-color: rgb(255 255 255/var(--tw-bg-opacity));
}

.hover\:darkorange:hover {
  --tw-bg-opacity: 1;
  color: #f0861a;
  border-color: white;
  background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.hover\:darkorange2:hover {
  --tw-bg-opacity: 1;
  color: #cd650c;
  border-color: white;
  background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.hover\:burgundy:hover {
  --tw-bg-opacity: 1;
  color: #800020;
  border-color: white;
  background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.hover\:cognac:hover {
  --tw-bg-opacity: 1;
  color: #9A463D;
  border-color: white;
  background-color: rgb(255 255 255/var(--tw-bg-opacity));
}

.hover\:shadow-white:hover {
  box-shadow: 1px 0.5px 5px #f5f5f5;
}

.hover\:shadow-black:hover {
  box-shadow: 1px 0.5px 5px #242424;
}

/* Responsive Classes */
@media (min-width: 576px) {
  /* sm:height */
  .sm\:h-full {
    height: 100%;
  }
  .sm\:h-90 {
    height: 90%;
  }
  .sm\:h-80 {
    height: -80%;
  }
  .sm\:h-70 {
    height: 70%;
  }
  .sm\:h-60 {
    height: 60%;
  }
  .sm\:h-50 {
    height: 50%;
  }
  .sm\:h-40 {
    height: 40%;
  }
  .sm\:h-30 {
    height: 30%;
  }

  /* sm:width */
  .sm\:w-full {
    width: 100%;
  }
  .sm\:w-90 {
    width: 90%;
  }
  .sm\:w-80 {
    width: 80%;
  }
  .sm\:w-70 {
    width: 70%;
  }
  .sm\:w-60 {
    width: 60%;
  }
  .sm\:w-50 {
    width: 50%;
  }
  .sm\:w-40 {
    width: 40%;
  }
  .sm\:w-30 {
    width: 30%;
  }
  .sm\:w-25 {
    width: 25%;
  }
  .sm\:w-22 {
    width: 22%;
  }
  .sm\:w-20 {
    width: 20%;
  }

  /* Text Position */
  .sm\:text-center {
    text-align: center;
  }
  .sm\:text-start {
    text-align: start;
  }
  .sm\:text-end {
    text-align: end;
  }

  /* Text Size */
  .sm\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .sm\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .sm\:text-1xl {
    font-size: 1.25rem;
    line-height: 2rem;
  }
  .sm\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .sm\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .sm\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .sm\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }
  .sm\:text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }
}

@media (min-width: 768px) {
  /*.md:height */
  .md\:h-full {
    height: 100%;
  }
  .md\:h-90 {
    height: 90%;
  }
  .md\:h-80 {
    height: -80%;
  }
  .md\:h-70 {
    height: 70%;
  }
  .md\:h-60 {
    height: 60%;
  }
  .md\:h-50 {
    height: 50%;
  }
  .md\:h-40 {
    height: 40%;
  }
  .md\:h-30 {
    height: 30%;
  }

  /*.md:width */
  .md\:w-full {
    width: 100%;
  }
  .md\:w-90 {
    width: 90%;
  }
  .md\:w-80 {
    width: 80%;
  }
  .md\:w-70 {
    width: 70%;
  }
  .md\:w-60 {
    width: 60%;
  }
  .md\:w-50 {
    width: 50%;
  }
  .md\:w-40 {
    width: 40%;
  }
  .md\:w-30 {
    width: 30%;
  }
  .md\:w-25 {
    width: 25%;
  }
  .md\:w-22 {
    width: 22%;
  }
  .md\:w-20 {
    width: 20%;
  }

  /* md:text position */
  .md\:text-center {
    text-align: center;
  }
  .md\:text-start {
    text-align: start;
  }
  .md\:text-end {
    text-align: end;
  }

  /* md:text size */
  .md\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .md\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .md\:text-1xl {
    font-size: 1.25rem;
    line-height: 2rem;
  }
  .md\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .md\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .md\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .md\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }
  .md\:text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }
}

@media (min-width: 1024px) {
  /* lg:height */
  .lg\:h-full {
    height: 100%;
  }
  .lg\:h-90 {
    height: 90%;
  }
  .lg\:h-80 {
    height: -80%;
  }
  .lg\:h-70 {
    height: 70%;
  }
  .lg\:h-60 {
    height: 60%;
  }
  .lg\:h-50 {
    height: 50%;
  }
  .lg\:h-40 {
    height: 40%;
  }
  .lg\:h-30 {
    height: 30%;
  }

  /* lg:width */
  .lg\:w-full {
    width: 100%;
  }
  .lg\:w-90 {
    width: 90%;
  }
  .lg\:w-80 {
    width: 80%;
  }
  .lg\:w-70 {
    width: 70%;
  }
  .lg\:w-60 {
    width: 60%;
  }
  .lg\:w-50 {
    width: 50%;
  }
  .lg\:w-40 {
    width: 40%;
  }
  .lg\:w-30 {
    width: 30%;
  }

  /* Text Position */
  .lg\:text-center {
    text-align: center;
  }
  .lg\:text-start {
    text-align: start;
  }
  .lg\:text-end {
    text-align: end;
  }

  /* Text Size */
  .lg\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .lg\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .lg\:text-1xl {
    font-size: 1.25rem;
    line-height: 2rem;
  }
  .lg\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .lg\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .lg\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .lg\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }
  .lg\:text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }
}

@media (min-width: 1280px) {
  /* xl:height */
  .xl\:h-full {
    height: 100%;
  }
  .xl\:h-90 {
    height: 90%;
  }
  .xl\:h-80 {
    height: -80%;
  }
  .xl\:h-70 {
    height: 70%;
  }
  .xl\:h-60 {
    height: 60%;
  }
  .xl\:h-50 {
    height: 50%;
  }
  .xl\:h-40 {
    height: 40%;
  }
  .xl\:h-30 {
    height: 30%;
  }

  /* xl:width */
  .xl\:w-full {
    width: 100%;
  }
  .xl\:w-90 {
    width: 90%;
  }
  .xl\:w-80 {
    width: 80%;
  }
  .xl\:w-70 {
    width: 70%;
  }
  .xl\:w-60 {
    width: 60%;
  }
  .xl\:w-50 {
    width: 50%;
  }
  .xl\:w-40 {
    width: 40%;
  }
  .xl\:w-30 {
    width: 30%;
  }

  /* Text Position */
  .xl\:text-center {
    text-align: center;
  }
  .xl\:text-start {
    text-align: start;
  }
  .xl\:text-end {
    text-align: end;
  }

  /* Text Size */
  .xl\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .xl\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .xl\:text-1xl {
    font-size: 1.25rem;
    line-height: 2rem;
  }
  .xl\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .xl\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .xl\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .xl\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }
  .xl\:text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }
}

@media (min-width: 1536px) {
  .\32xl\:container {
    width: 100%;
  }

  @media (min-width: 360px) {
    .\32xl\:container {
      max-width: 360px;
    }
  }

  @media (min-width: 640px) {
    .\32xl\:container {
      max-width: 640px;
    }
  }

  @media (min-width: 768px) {
    .\32xl\:container {
      max-width: 768px;
    }
  }

  @media (min-width: 1024px) {
    .\32xl\:container {
      max-width: 1024px;
    }
  }

  @media (min-width: 1280px) {
    .\32xl\:container {
      max-width: 1280px;
    }
  }

  @media (min-width: 1536px) {
    .\32xl\:container {
      max-width: 1536px;
    }
  }

  .\32xl\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .\32xl\:h-96 {
    height: 24rem;
  }

  .\32xl\:max-h-44 {
    max-height: 11rem;
  }
}

@media (min-width: 360px) {
  .xss\:w-full {
    width: 100%;
  }
}
