.nav-custom > ul > li > a.nav-link{
    font-size: 14px;
    font-weight: 800;
    color: black;
    border-radius: 10px;
    padding-left: 1em;
}


.nav-custom > ul > li > a.nav-link:hover{
    background-color: #faf6eb;
    color: black;
    border-radius: 10px;
}

.nav-active-main{
    background-color: #faf6eb;
    color: black;
    border-radius: 10px;
}