.tooltip-custom {
  position: relative;
  display: inline-block;
}

.tooltip-custom .tooltipcustomtext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 0;

  /* Position the tooltip */
  position: absolute;
  right: 0.5rem;
  top: 3rem;
  z-index: 1;
}

.tooltip-custom:hover .tooltipcustomtext {
  visibility: visible;
}
